{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" id="crousel-about" style="background: url({{url_for('static', filename='images/img-ab.webp')}}) repeat;
             background-color: grey;
             background-blend-mode: multiply;
             padding: 15%;
             width:100%">
    </div>
</div>
</body>
</html>
{% endblock %}